{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {# block d'insertion du component Home (le script est dans base.html.twig et main.jsx) #}
    {# passage des données php sous forme de dataset js (data-props) et encodées en json #}
    <div id="home" data-props='{{ home_props|json_encode|e('html_attr') }}'></div>
{% endblock %}
