@import "../../../node_modules/hamburgers/dist/hamburgers.min.css";


nav {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 3rem;
}

.navbar>div:last-child ul li:last-child a{
    background-color: var(--color-bg);
    color: white;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.hamburger {
    display: none;
}

img {
    width: 7rem;
}

@media (max-width: 700px) {
    .navbar ul {
        display: none;
    }
    .hamburger {
        display: block;
    }
}
