<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="https://avatars.githubusercontent.com/u/262089688?s=200&v=4">
    <script type="module">
        import RefreshRuntime from 'http://localhost:5173/@react-refresh';

        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => {
        }
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
    </script>
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/main.jsx"></script>

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>

<body>

<div
    id="navbar"
    data-user='{{ app.user
    ? {
        fullName: app.user.prenom ~ ' ' ~ app.user.nom,
        avatarUrl: asset('uploads/avatars/' ~ app.user.avatar),
        roles: app.user.roles
    }|json_encode|e('html_attr')
    : ''
    }}'
></div>
    {% block body %}{% endblock %}
<div id="footer"></div>
</body>
</html>
